{% extends "layout.twig" %}
{% block class %}bk-pt-default{% endblock %}
{% block content %}

<div class="wrapper">

    <!-- Header Include -->
    {% include "includes/header.twig" %}

    <!-- Container -->
    <div class="container">

        <!-- Page Content -->
        <section class="template-content">

            <!-- Main Widget Zone -->
            {{zone('main')|raw}}

        </section>
        <!-- End Page Content -->

    </div>
    <!-- End Container -->

</div>

    <!-- Footer Include -->
    {% include "includes/footer.twig" %}

{% endblock %}
